<?xml version='1.0' encoding='utf-8'?>
<widget id="com.upc.upclab.encryptapp" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Encrypt-App</name>
    <description>
        Aplicación académica para encriptar y comprimir texto.
    </description>
    <author email="saintplay96@gmail.com" href="http://github.com/saintplay">
        Diego Jara Palomino
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon src="res/android/logo-xhdpi.png" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="mdpi" src="res/android/logo-mdpi.png" />
        <icon density="hdpi" src="res/android/logo-hdpi.png" />
        <icon density="xhdpi" src="res/android/logo-xhdpi.png" />
        <icon density="xxhdpi" src="res/android/logo-xxhdpi.png" />
        <splash density="mdpi" src="res/screen/android/mdpi.9.png" />
        <splash density="hdpi" src="res/screen/android/hdpi.9.png" />
        <splash density="xhdpi" src="res/screen/android/xhdpi.9.png" />
        <splash density="xxhdpi" src="res/screen/android/xxhdpi.9.png" />
        <preference name="SplashScreenDelay" value="3000" />
    </platform>
    <engine name="browser" spec="~4.1.0" />
    <engine name="android" spec="~5.1.1" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.4.0" />
    <plugin name="cordova-plugin-splashscreen" spec="~3.2.2" />
</widget>
